.nav {
  background-color: #ffffff !important;
  box-shadow: #2123261a 0 10px 10px -10px;
}

.nav-logo {
  padding: 0 !important;
  width: 90px !important;
  height: auto !important;
  color: #000000 !important;
  font-weight: 500 !important;
  text-decoration: none !important;
}